body{
   background-image: url("../Recursos/16d665f720e722cc84952486a0c42798.jpg") ;
   height: 50vh;
   background-size: cover;
   background-position: center;
   text-align: center;
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   padding: 100px 100px;
}
h1{
    color: aqua;
    font-size: 60px;
}

.neon{
    text-shadow: 0 0 5px rgb(0, 119, 255), 0 0 15px rgb(0, 234, 255), 0 0 30px rgb(55, 235, 245), 0 0 50px rgb(13, 0, 255);
}

input{
    font-size: 50px;
    margin: 20px;
    
}
 

textarea{
    font-size: 50px;
    margin: 20px;
    
    
}
button{
    font-size: 30px;
    border-radius: 7px;
    margin: 20px;
    background-color: rgb(200, 28, 239);
    --glow-color:rgb(246, 56, 217);
    --glow-spread-color: rgba(175, 62, 190, 0.781);
    --enhanced-glow-color: rgb(247, 5, 243);
    --btn-color:rgb(3, 3, 3);
    border: .25em solid var(--glow-color);
    padding: 1em 3em;
    color: var(--glow-color);
    font-size: 25px;
    font-weight: bold;
    background-color: var(--btn-color);
    border-radius: 0.5em;
    outline: none;
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 1em var(--glow-spread-color),
    inset 0 0 .75em .25em var(--glow-color);
    text-shadow: 0 0 .5em var(--glow-color);
    position: relative;
    transition: all 0.3s;
}

button:after{
    pointer-events: none;
    position: absolute;
    top: 120%;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--glow-spread-color);
    filter: blur(2em);
    opacity: .7;
    transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

button:hover{
    color: var(--btn-color);
    background-color: var(--glow-color);
    box-shadow: 0 0 1em .25em var(--glow-color),
    0 0 4em 2em var(--glow-spread-color)
    inset 0 0 .75em .25em var(--glow-color);
}

button:active{
    box-shadow: 0 0 0.6em .25em var(--glow-color),
    0 0 2.5em 2em var(--glow-spread-color)
    inset 0 0 .5em .25em var(--glow-color);
}